{% extends "header.html" %}
{% block body %}

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <h2>Dawoud Tabboush</h2>
			<h3>Freelance Developer</h3>
			<h4>Sydney, Australia</h4>
			
			
			<div class="btn-group">
	        	<a class="btn btn-social-icon btn-google" href = 'mailto:dtabboush@gmail.com'>
          			<span class="glyphicon glyphicon-envelope"></span>
        		</a>

				<a class="btn btn-social-icon btn-github" href = 'https://github.com/dawoudt'>
    		      	<span class="fa fa-github"></span>
        		</a>

        		<a class="btn btn-social-icon btn-linkedin" href = 'https://linkedin.com'>
    		      	<span class="fa fa-linkedin"></span>
        		</a>
			</div>
      </div>
      <div class="col-xs-5">
      </div>
    </div> 
  </div><!-- /cont -->
</div>
<br>
<div class='container-fluid'>
	<div class = 'row row-centered'>
		<div class = 'col-lg-10 col-xs-12 col-centered'>
			<div class="well well-lg" >
		


			<br>
			<div class = 'row row-centered'>
			<div class = 'col-xs-8 col-centered'>
			<h3 align='center'>Profile</h3>
			<p>
				 Hi, I'm Dawoud. I'm 24 years old and currently completing my final semester towards my Bachelors degree in Information and Communcation Technologies (BICT) at Western Sydney University (WSU) in Sydney, Australia.<br><br>

				 Technology has always been a part of my life. Ever since I picked up a Commodore 64 from a local yard sale, to running my first bash script on a *nix machine, writing an SHA256 Bruteforce Cracker in C++, building a mobile web application for the WSU School of Nursing and Midwifery and also working in retail (for a certain fruit based company) and helping customers understand the power and freedom which technology enables.<br><br>

				 I have a strong background in Computer Science with a specialisation in Data Analysis, which includes fluency in Java, C/C++ and R and Python. I enjoy building a wide range of things both high and low level. Spending hours on a project, solving problems, building algorithms, playing with libraries and finding ways to be more efficient, innovative and creative is my idea of a good weekend. <br><br>

				 Ever since I first started using Python, I immediately fell in love with its simplicity, power and flexibility. Since then, my Python journey has grown to include web development, data analysis, graphing and plotting and machine learning as well as some experience in GUI development. Python has now become my development tool of choice, 
				 due to its robustness and ability to solve almost every task. 

			</p>

			</div>
			</div>

			 <hr>
			 <h3 align='center'>Education</h3>
			 <div class = 'row row-centered'>
			 	<p style = 'font-size:15px'>
			 		<strong><i>University of Western Sydney</i></strong>
			 	</p>
			 <div class = 'col-md-3 col-centered'>
			 	<p style = 'font-size:12x; text-align:center'>
			 		<b>Bachelor of Information and Communcation Technologies</b>
			 		Specialisation - Data Analysis
			 		<br>
			 		<i>2012 - 2016</i>
			 	</p>
			 </div>
			 </div>
			 <div class = 'row row-centered'>
			 	<p style = 'font-size:15px'>
			 		<strong><i>TAFE Kingswood</i></strong>
			 	</p>
			 <div class = 'col-md-3 col-centered'>
			 	<p style = 'font-size:12x; text-align:center'>
			 		<b>Certificate IV in Business/Frontline Management</b>
			 		<br>
			 		<i>2011 - 2012</i>
			 	</p>
			 </div>
			 </div>
			 <hr>
			 <h3 align='center'>Computer Science</h3>
				<div class = 'row row-centered'>
					<div class='container-fluid' >
				      	<div class="row row-centered">
				        	<div class="col-xs-9 col-centered">
				        		<ul>
				        			<h4> <u>Programming </u></h4>
				        			<ul><strong>Python</strong> - Data Analysis, Machine Learning, Web Development (Flask)</ul>
				        			<ul><strong>PHP</strong> - Web Development (Slim Framework)</ul>
				        			<ul><strong>C/C++</strong>  <ul> - Systems Programming</ul> 
				        										<ul> - Distributed Systems Programming</ul>
				        										<ul> - Operating System Programming</ul>
				        			</ul>
				        			<ul><strong>Java, Bash, HTML, CSS, JQuery, MySQL</strong></ul>
				        		</ul>
				        	</div>
				      	</div>
				    </div>
					<div class='container-fluid'>
				      	<div class="row row-centered">
				        	<div class="col-xs-9 col-centered" >
				        		<ul>
				       				<h4> <u>OS </u></h4>
				        			<ul>Linux - <i>Debian
				        			<ul style="font-size:10px">Main OS of choice. Fluent with terminal, bash scripting, git, nano and C/C++ for development.</i></ul></ul>
				        			<ul>OSX - <i>El Capitan
				        			<ul style="font-size:10px">OS used at current place of employment.</i></ul></ul>
				        			<ul>Windows</ul>
				        		</ul>
				        		<br>
				        		<ul>
				        		<h4> <u>Technologies</u></h4>
				        			<ul>Forms</ul>
				        			<ul>Mail</ul>
				        			<ul>Database</ul>
				        			<ul>Encryption</ul>
				        			<ul>Networking</ul>
				        			<ul>MVC</ul>
				        		</ul>
				        		
				        	</div>
				      	</div>
				    </div>

					<div class='container-fluid'>
				      	<div class="row row-centered">
				        	<div class="col-xs-9 col-centered">
				        		<ul>
				        			<h4><u>Projects</u></h4>
				        			<ul><a class = 'sidebar' href ='http://github.com/dawoudt'>POstnatal Processes and PathwaYs (POPPY)</a></ul>
				        			<ul><a class = 'sidebar' href ='http://github.com/dawoudt'>SHA256 Bruteforce Password Cracker</a></ul>
				        			<ul><a class = 'sidebar' href ='http://github.com/dawoudt'>This Website</a></ul>
				        			<ul><a class = 'sidebar' href ='http://github.com/dawoudt'>Other Small Programs</a></ul>
				        		</ul>
				        	</div>
				      	</div>
				    </div>
				 </div>
				 <hr>
				<h3 align='center'>Work Experience</h3>
				<div class = 'row row-centered'>
					<div class = 'col-xs-8 col-centered'>
						<p><strong>2012 - Current</strong></p>
						<p style='margin-left:5%;' align='left'>Apple Retail | <i>Family Room Specialist/Sales (Mobile Device Technician)</i>
						<br>
						<br>
						Working at Apple Retail has been a pleasure. My role started off working in sales, then gradually moved to the family room (technical support). I now currently manage, and support the Family Room Team from techincal expertise, to schedueling rosters and resolving escalations.  
						</p>
						<p><strong>2011 - 2012</strong></p>
						<p style='margin-left:5%;' align='left'>National Weighing and Instruments | <i> Data Entry and Analysis </i>
						<br>
						<br>
						Day to day data entry of calibration data for NATA certified measuring equipment used in laboratories and manufacturing companies.
						</p>
					</div>
				</div>
		    </div>
		</div>
	</div>
</div>

{% endblock %}

