{% extends "header.html" %}
{% block body %}


<div class = 'container-fluid'> 
<br>
	<h3 style = 'color:#000'> Login: </h3>
<br>
<form action = "" class = 'form-inline' method = 'post'>
	<input type = 'text' class = 'form-control' placeholder = 'username' name = 'username' value = "{{ request.form.username }}">
	<input type = 'password' class = 'form-control' placeholder = 'password' name = 'password' value = "{{ request.form.password }}">
	<input class = "btn btn-default" type = "submit" value = "Login" >
</form>

<p> {{ error }} </p>

</div>


{% endblock%}