{% extends "header.html" %}
{% block body %}

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <h1>Bio
          <p class="lead">What's all this about then??</p>
        </h1>
      </div>
      <div class="col-xs-5">
      </div>
    </div> 
  </div><!-- /cont -->
</div>
<div class='container-fluid'>
	<div class = 'row'>
		<div class = 'col-xs-12'>
			<div class="well well-lg" > 
		     	<div class="row">
		        	<div class="col-xs-12">
		        		<div class='row'>
		        			<div class='col-xs-0 col-lg-0'>
		        				<ul style="list-style-type:none">
									<li><h2>Dawoud Tabboush</h2></li>
								    	<ul style="list-style-type:none">
								     		<li><h4>Freelance Developer</h4></li>
								    	</ul>
								  	</li>
								</ul>
		        			</div>
		              			
		        		</div>
		          		<hr>
	          			<div class = 'row'>
	          				<div class='col-xs-5 col-lg-3'>

	          					<a href="https://python.org/" class="thumbnail">
      								<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="Python" style="height: 90%; width: 90%;">
    							</a>
	          			
	          				</div>
	          				
	          				<div class='col-xs-7 col-lg-9'>
	          					<ul style="list-style-type:none;">
									<li><strong>Python</strong></li>
								    	<ul>
								     		<li>Web - Flask, Jinja, MySQL</li>
								      		<li>Machine Learning/Data Analysis - Scikit Learn, Pandas, Numpy</li>
								      		<li>Plots/Graphs - Matplotlib</li>
								      		<li>Package Management - Pip</li>
								    	</ul>
								  	</li>
								</ul>
	          				</div>
	          			</div>
		          		<div class = 'row'>
	          				<div class='col-xs-5 col-lg-3'>
	          					<a href="https://www.php.net" class="thumbnail">
      								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/2000px-PHP-logo.svg.png" alt="Php" style="height: 60%; width: 60%;">
    							</a>
	          			
	          				</div>
	          				
	          				<div class='col-xs-7 col-lg-9'>
	          					<ul style="list-style-type:none">
									<li><strong>PHP</strong></li>
								    	<ul>
								     		<li>Web - Slim Framework, MySQL</li>
								      		<li>Package Management - Composer</li>
								      		<li>Email - PHP Mailer</li>
								    	</ul>
								  	</li>
								</ul>
	          				</div>
	          			</div>
	          			
	          			<div class = 'row'>
	          				<div class='col-xs-5 col-lg-3'>
	          					<a href="#" class="thumbnail">
      								<img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Web-scripting-languages.png" alt="Web" style="height: 90%; width: 90%;">
    							</a>
	          			
	          				</div>
	          				
	          				<div class='col-xs-7 col-lg-9'>
	          					<ul style="list-style-type:none">
									<li><strong>Web</strong></li>
								    	<ul>
								     		<li>HTML5</li>
								      		<li>Javascript - Jquery, JQMobile, Validation</li>
								      		<li>CSS - Bootstrap</li>
								      		<li>Apache, MySQL</li>
								      		<li>RESTful API</li>
								    	</ul>
								  	</li>
								</ul>
	          				</div>
	          			</div>
	          			<div class = 'row'>
	          				<div class='col-xs-5 col-lg-3'>
	          					<a href="#" class="thumbnail">
      								<img src="https://i.ytimg.com/vi/5AjReRMoG3Y/maxresdefault.jpg" alt="OS" style="height: 90%; width: 90%;">
    							</a>
	          			
	          				</div>
	          				
	          				<div class='col-xs-7 col-lg-9'>
	          					<ul style="list-style-type:none">
									<li><strong>OS</strong></li>
								    	<ul>
								     		<li>Linux - Debian, Bash, C (Systems Prgramming)</li>
								      		<li>Windows</li>
								      		<li>OSX</li>
								    	</ul>
								  	</li>
								</ul>
	          				</div>
	          			</div>
	          			<div class = 'row'>
	          				<div class='col-xs-5 col-lg-3'>
	          					<a href="https://www.gnu.org/software/gnu-c-manual/" class="thumbnail">
      								<img src="http://www.batracomputercentre.com/img/c.png" alt="CProgramming" style="height: 60%; width: 60%;">
    							</a>
	          			
	          				</div>
	          				
	          				<div class='col-xs-7 col-lg-9'>
	          					<ul style="list-style-type:none">
									<li><strong>C/C++</strong></li>
								    	<ul>
								     		<li>Operating/Systems Programming</li>
								      		<li>Distributed Systems Programming - RPC</li>
								      		<li>Object Oriented/Strutural Programming</li>
								      		<li>Encryption</li>
								    	</ul>
								  	</li>
								</ul>
	          				</div>
	          			</div>
		        	</div>
		      	</div>
		    </div>
		</div>
	</div>
</div>

{% endblock %}

